* {
    color: rgb(69, 69, 146);
    text-align: center;
    border-color: lightblue;
}

.fav {

    background-color: lawngreen;
}

.mod {

        background-color: orange;

}

.sev {

    background-color: rgb(255, 0, 55);
}